.bg-1 {
    background-color: rgb(150, 150, 183);
    color: #ffffff;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}
